VITE_API_URL=http://localhost:3000
VITE_REGRAS_PERMISSOES={"REGRA_ADMIN":[],"REGRA_USUARIO":["PERMISSAO_CRIAR_USUARIO","PERMISSAO_ATUALIZAR_USUARIO","PERMISSAO_EXCLUIR_USUARIO","PERMISSAO_CONCEDER_ACESSO_DASHBOARD"],"REGRA_DASHBOARD":["PERMISSAO_CRIAR_DASHBOARD","PERMISSAO_ATUALIZAR_DASHBOARD","PERMISSAO_EXCLUIR_DASHBOARD","PERMISSAO_CONCEDER_ACESSO_USUARIO"]}
