VITE_API_URL=http://localhost:3000
VITE_REGRAS_PERMISSOES={"REGRA_ADMIN":[],"REGRA_USUARIO":["PERMISSAO_CRIAR_USUARIO","PERMISSAO_ATUALIZAR_USUARIO","PERMISSAO_EXCLUIR_USUARIO","PERMISSAO_CONCEDER_ACESSO_DASHBOARD","PERMISSAO_CONCEDER_ACESSO_RELATORIO","PERMISSAO_USAR_IA"],"REGRA_DASHBOARD":["PERMISSAO_CRIAR_DASHBOARD","PERMISSAO_ATUALIZAR_DASHBOARD","PERMISSAO_EXCLUIR_DASHBOARD","PERMISSAO_CONCEDER_ACESSO_USUARIO"],"REGRA_RELATORIO":["PERMISSAO_CRIAR_RELATORIO","PERMISSAO_ATUALIZAR_RELATORIO","PERMISSAO_EXCLUIR_RELATORIO","PERMISSAO_CONCEDER_ACESSO_RELATORIO","PERMISSAO_CRIAR_CONEXAO","PERMISSAO_ATUALIZAR_CONEXAO","PERMISSAO_EXCLUIR_CONEXAO"]}
