# IP da máquina na rede local (mesmo valor de HOST_IP no backend)
VITE_HOST_IP=10.27.6.161
VITE_DEV_PORT=5173
VITE_API_URL=http://10.27.6.161:3000
VITE_REGRAS_PERMISSOES={"REGRA_ADMIN":[],"REGRA_IA":[],"REGRA_USUARIO":["PERMISSAO_CRIAR_USUARIO","PERMISSAO_ATUALIZAR_USUARIO","PERMISSAO_EXCLUIR_USUARIO","PERMISSAO_CONCEDER_ACESSO_DASHBOARD","PERMISSAO_CONCEDER_ACESSO_RELATORIO"],"REGRA_DASHBOARD":["PERMISSAO_CRIAR_DASHBOARD","PERMISSAO_ATUALIZAR_DASHBOARD","PERMISSAO_EXCLUIR_DASHBOARD","PERMISSAO_CONCEDER_ACESSO_USUARIO"],"REGRA_RELATORIO":["PERMISSAO_CRIAR_RELATORIO","PERMISSAO_ATUALIZAR_RELATORIO","PERMISSAO_EXCLUIR_RELATORIO","PERMISSAO_CONCEDER_ACESSO_RELATORIO","PERMISSAO_CRIAR_CONEXAO","PERMISSAO_ATUALIZAR_CONEXAO","PERMISSAO_EXCLUIR_CONEXAO"]}
